@model UpdateDoctorDTO

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">FirstName</label>
            <input asp-for="FirstName" type="text" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label">LastName</label>
            <input asp-for="LastName" type="text" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentId" class="form-label">Departents</label>
            <select asp-for="DepartmentId" asp-items="Model.Departments"></select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image</label>
            <input asp-for="Image" type="file" class="form-control">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning text-white">Create</button>
    </form>
</div>